<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
            <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        <body>
            <div class="main-content">
              {{>header}}
             <h2> {{helptext}}    </h2> 
            </div>
            {{>footer}}

        </body>
</html>